numpy==1.21.6
pandas
scikit-learn==1.0.2
pytest
requests
fastapi==0.63.0
uvicorn
gunicorn
httpx
cachetools==5.3.0
google-api-python-client>=2.0.2
dvc[gdrive]
typing-extensions
dvc==3.10.0
flake8==6.1.0
pydrive2==1.16.1
python-dotenv