numpy == 1.24.4
pandas
fastapi==0.63.0
uvicorn
cachetools==5.3.0
google-api-python-client>=2.0.2
dvc[gdrive]
typing-extensions
scikit-learn==1.3
pytest
requests
gunicorn
dvc==3.10.0
httpx==0.24.1
flake8==6.1.0
pydrive2==1.16.1
python-dotenv